body {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: 'Courgette', cursive;
  font-size: 4em;
  color: firebrick;
  text-align: center;
  padding: 24px;
  margin: 0px 0px 48px;
}

#main {
  width: 640px;
  height: 640px;
  border: 1px solid #333;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

button {
  display: block;
  margin: 0 auto 32px;
  padding: 10px 16px;
  background-color: firebrick;
  color: white;
}
